<!-- contact.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Contact Us</title>
</head>
<body class="contact-page">
    {% include 'nav.html' %}
    
    <div class="contact_container">
        <img src="{{ url_for('static', filename='logoq.jpeg') }}" alt="Logo" id="logo-contact">
        <h1 style="font-family: 'Times New Roman', Times, serif;">Contact Us</h1>

        <div class="contact-details">
            <p>
                Thank you for your interest in our organization. You can reach us using the following contact details:
            </p>
            <div class="contact-info">
                <p><strong>Address:</strong> KMIT, Hyderabad</p>
                <p><strong>Email: </strong> <u><a href="mailto:multitrait.prediction@gmail.com" style="color: black;">multitrait.prediction@gmail.com</a></p> </u>
            </div>
            <p>
                If you have any inquiries or would like to get in touch, please feel free to contact us using the provided information.
            </p>
        </div>
        
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
