<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Phenotype Prediction</title>
</head>
<body>
    {% include 'nav.html' %}
    <video autoplay muted loop id="video-bg">
        <source src="{{ url_for('static', filename='video1.mp4') }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>   
    <div class="container">
        <h1>Phenotype Predictor</h1>
        <form id="prediction-form">

            <label for="allele_sequence">Allele Sequence:</label>
            <input type="text" id="allele_sequence" placeholder="Enter Allele Sequence" required>
            <button type="button" onclick="predict()">Predict</button>
            
        </form>
        <div id="result">
                <p>Input  File: <a href="{{ url_for('input_csv') }}" target="_blank">input_csv</a></p>
                <p>Output File: <a href="{{ url_for('output_csv') }}" target="_blank">output_csv</a></p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>